<h2>Add user</h2>
<p>You can add a user here.</p>

<form action="/add" method="post">
  <label for="fname">First name:</label><br />
  <input type="text" id="fname" name="fname" placeholder="John" /><br />
  <label for="lname">Last name:</label><br />
  <input type="text" id="lname" name="lname"/ placeholder="Smith"><br />
  <label for="age">Age: </label> <br />
  <input type="age" id="age" name="age" placeholder="25" /><br /><br />

  <input type="submit" value="Submit" />
</form>
