* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.hamburger img {
  max-width: 30px;
  max-height: 30px;
}

.side-pannel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: #212121;
  border-radius: 20px;
}

.side-pannel a {
  text-decoration: none;
  color: white;
}

.display {
  width: 250px;
  overflow-x: visible;
  padding: 20px;
}
