section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.orange {
  background: orange;
}
