.container {
  width: 50%;
  margin: 0 auto;
}

li {
  list-style-type: none;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}

button {
  margin-left: 5px;
  padding: 3px;
}
